optree
fastapi
uvicorn
pydantic
transformers==4.36.2
retry
gradio_client==0.9.0
gradio==3.50.2
fschat==0.2.20
nltk
numpy
openai
torch==2.0.1
tqdm==4.66.1
sentencepiece==0.1.99
protobuf==4.24.4
accelerate==0.23.0
peft
fire
streamlit
jsonlines
pandas
seaborn
datasets==2.14.5
